<nav>
    <div class="site-title">
        <a href="/"><h1>Med care</h1></a>
        <p>Plain Text</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/med/insert">New Med</a></li>
    </ul>
    
</nav>